altgraph==0.17.2
attrs==21.4.0
click==7.1.2
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.4
pyparsing==3.0.8
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
pytest==7.1.1
python-dotenv==0.20.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
seval==1.1.0
tomli==2.0.1
